@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;700&family=Poppins:wght@400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  /* max-width: 700px; */
  gap: 40px;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 20px;
}

header a.logo {
  font-size: 20px;
  font-weight: bold;
  color: teal;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header nav a {
  font-size: 16px;
  color: #b2b2b2;
}
header nav a:hover {
  color: teal;
}

header nav a.nav-btn {
  font-size: 16px;
  background-color: #da291c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
}
header nav a.nav-btn:hover {
  background-color: teal;
}

main div.hero {
  width: 100%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
main div.hero div.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid white; */
  gap: 10px;
}
div.hero div.text div.cp-col {
  position: relative;
  width: 100%;
  padding: 40px 30px;
  width: 400px;
}
div.hero div.text div.cp-col span {
  text-transform: uppercase;
  position: absolute;
  background-color: #222;
  padding: 5px 10px;
  color: #fff;
  top: -10px;
}

div.hero div.text div.cp-col p {
  font-size: 30px;
  font-weight: bold;
}

div.hero div.cp-col a {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
}

div.hero div.text div.caption {
  display: block;
  background-color: #fff;
}

div.hero div.text div.cp-col a {
  font-size: 12px;
  text-decoration: underline;
}

/* help the children section */
div.help-section {
  padding: 40px 60px;
  display: block;
  border-bottom: #eee 1px solid;
}

div.help-section h2 {
  text-align: center;
  padding: 40px;
}

div.help-section div.post-row {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "side side top"
    "side side bottom";
  margin-inline: auto;
}

div.help-section div.widget img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.help-section div.widget {
  position: relative;
}
div.help-section div.widget p {
  position: absolute;
  top: 30px;
  padding: 10px 20px;
  background-color: #fff;
  color: #da291c;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

div.help-section div.widget p svg {
  color: #da291c;
  height: 20px;
}

.side {
  grid-area: side;
}

.top {
  grid-area: top;
}
.bottom {
  grid-area: bottom;
}

div.help-section div.widget:hover {
  border: 2px solid #da291c;
  cursor: pointer;
}
/* what we do section */

div.wwd {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.wwd h2 {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

div.wwd p {
  text-align: center;
  max-width: 600px;
  font-size: 20px;
  margin-bottom: 50px;
}

div.wwd div.links ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
div.wwd div.links ul li {
  display: flex;
  list-style: none;
}

div.wwd div.links ul a {
  text-decoration: none;
}
div.wwd div.links ul a div {
  object-fit: cover;
  max-width: 240px;
}

div.wwd div.links ul img {
  border-radius: 50%;
  margin-bottom: 20px;
}
div.wwd div.links ul img:hover {
  border: 3px solid #da291c;
}

div.wwd div.links ul a p {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.wwd div.links ul a svg {
  width: 20px;
  margin-left: 10px;
  color: #da291c;
}

/* donation page */

div.donation-page {
  width: 100%;
}

div.donation-page h2 {
  font-size: 1.3rem;
}

div.donation-page a {
  color: #fff;
  text-decoration: underline;
}

div.donation-page div.row {
  max-width: 760px;
  position: relative;
  margin: 0 auto;
  /* border: #b2b2b2 1px solid; */
  display: flex;
  flex-basis: 1;
  gap: 10px;
  height: 100%;
  padding: 10px 0;
}

div.donation-page div.row div.col {
  border: #b2b2b2 1px solid;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 30px;
  color: #fff;
}

div.donation-page div.row div.col:nth-child(1) {
  background-color: rgb(229, 85, 75);
  border: 0;
}

div.donation-page div.row div.col:nth-child(2) {
  /* background-color: #505f7d49; */
  border: none;
  font-size: 3em;
  display: flex;
  position: relative;
  font-weight: bold;
  letter-spacing: 7px;
  font-family: "Poppins", sans-serif;
}

div.form-container {
  position: relative;
  display: grid;
  gap: 20px;
  height: 100%;
}
div.form-container div.action-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.options,
div.frequency {
  position: relative;
  border: #fff solid 1px;
  background-color: #fff;
  height: auto;
}

div.options label:not(:last-child) {
  border-bottom: rgb(229, 85, 75) 1px solid;
}

div.frequency label:not(:last-child) {
  border-right: rgb(229, 85, 75) 1px solid;
}

div.frequency {
  display: flex;
}
/* input */

input[type="text"] {
  /* display: none; */
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
}

/* radio bottons */

input[type="radio"] {
  display: none;
}
input:focus {
  outline: none;
}

div.form-container label {
  position: relative;
  color: rgb(229, 85, 75);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: bold;
}

div.form-container label::before {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  border: rgb(229, 85, 75) 3px solid;
  border-radius: 50%;
  margin-right: 10px;
}

div.form-container input[type="radio"]:checked + label::before {
  height: 0.7rem;
  width: 0.7rem;
  border: 0.3rem solid #fff;
  background-color: rgb(229, 85, 75);
}

div.form-container input[type="radio"]:checked + label {
  background-color: rgb(229, 85, 75);
  color: #fff;
}

div.form-container div.action-box a:nth-child(2) {
  padding: 10px 20px;
  background-color: #fff;
  text-decoration: none;
  color: rgb(229, 85, 75);
  border-radius: 20px;
  border: 0;
  font-weight: bold;
}

/* checkout page */

div.checkout {
  padding-top: 20px;
  justify-content: center;
  width: 100%;
  display: flex;
}

div.checkout div.payment-card {
  padding: 20px;
  max-width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  position: relative;
}

div.checkout a {
  margin-top: 20px;
  background-color: #da291c;
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  position: relative;
  color: #fff;
  text-align: center;
}

/* not found page */
div.not-found {
  display: block;
  text-align: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* footer */
.footer {
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
