@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #292829;
}
main,
section {
  width: 100%;
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
  height: 100vh;
}

a {
  color: #292829;
}

main p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
header {
  display: flex;
  padding: 30px 20px;
  border-bottom: 2px solid #eee;
}

header a.logo {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

section.donation-box {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 10px;
}

section.donation-box div.left-box {
  padding: 20px;
}

section.donation-box div.left-box h1 {
  font-size: 36px;
  color: #222221;
  font-family: oswald_medium, sans-serif;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin: 25px 0 20px;
  text-transform: uppercase;
}

section.donation-box div.left-box p {
  padding-top: 25px;
  line-height: 30px;
  word-spacing: 5px;
}

div.payment-section {
  display: block;
}
div.payment-section div.personal-info {
  display: none;
}

div.payment-section div.amount-section {
  margin-top: 30px;
}
div.payment-section div.amount-section p {
  font-weight: bold;
}

div.payment-section div.amount-section div.frequency {
  padding: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 40px;
}

div.amount-section div.frequency a {
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid #222221;
  border-radius: 20px;
  color: #222221;
}

div.gift-section {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

div.gift-select input {
  width: 80%;
  max-width: 300px;
  padding: 15px 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
